.site-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-header {
  padding-bottom: 1px;
  margin-bottom: 2px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  justify-content: space-between;
  width: 100%;
}

.post-header a,
.post-header .skeleton {
  display: flex;
  align-items: center;
}

.post-header .skeleton {
  width: 100%;
  margin-bottom: 5px;
}

.post-header .skeleton .post-header-information {
  width: 30%;
  margin: 0 0 0 10px;
}

.post-header a img,
.post-header a .MuiAvatar-root {
  margin: 0 10px 0 10px;
  height: 32px;
  width: 32px;
  font-size: 1rem;
}

.post-container {
  height: calc(100vh - 45px);
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  background: linear-gradient(to top, #f9f9f9, #ffffff, #ffffff);
  box-shadow: 0 -12px 17px -1px #e4e4e4;
  padding: 20px 12px;
  margin-bottom: 25px;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #c7c7c7;
  margin: auto;
}

.css-o4b71y-MuiAccordionSummary-content.Mui-expanded {
  margin: 12px 0 !important;
}

.css-1usb9rw-MuiButtonBase-root-MuiAccordionSummary-root.Mui-expanded {
  min-height: 48px !important;
}

.post-header .author {
  font-size: 20px;
  text-decoration: none;
  color: #0E0E0E;
  font-weight: 600;
}

.post-body {
  text-decoration: none;
  color: #0E0E0E;
  width: 55%;
  background: white;
  margin-top: 20px;
  padding: 5px 12px 3px 12px;
  box-shadow: 0 5px 11px 1px #e4e4e4;
  border-radius: 3px;
}

.just-posts-page .post-body {
  width: 100%;
  max-width: 575px;
}

.post-body .post-image {
  margin-top: 5px;
}

.post-body .post-image img {
  width: 100%;
}

.post-body:last-child {
  margin-bottom: 40px;
}

.post-footer .skeleton {
  margin: 10px 0;
}

.post-footer-time {
  display: flex;
}

.post-footer-time p {
  margin: 0;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.58)
}

.post-body a {
  color: #0E0E0E;
  text-decoration: none;
}

.post-body a:first-child .post-text {
  margin-top: 0;
}

.post-img {
  margin-top: 10px;
}
.post-img img {
  width: 100%;
}

.post-text {
  font-size: 22px;
  line-height: 30px;
  margin: 10px 0;
  padding: 0 10px;
}

.post-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
  padding-top: 1px;
  border-top: 1px solid #e4e4e4;
}

.action-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.comment-block {
  border-top: 1px solid #e4e4e4;
}

.post-footer .footer-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.post-footer .footer-item:first-child {
  justify-content: flex-start;
}

.post-footer .footer-item:last-child {
  justify-content: flex-end;
}

.post-footer .footer-item img {
  width: 20px;
  margin: 0 10px;
}

.post-footer .footer-item .like {
  margin-left: 1px;
}

.comments {
  max-height: 500px;
  overflow: auto;
  border-bottom: 1px solid #e4e4e4;
}

.comment {
  margin-top: 5px;
}

.comment .header {
  justify-content: space-between !important;
}

.comment .avatar {
  width: 27px;
  height: 27px;
  font-size: 13px;
  margin-right: 5px;
}

.comment-menu {
  width: 27px !important;
  height: 25px !important;
}

.comment .content {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 300;
  margin-left: 32px;
  padding-bottom: 2px;
  border-bottom: 1px dotted #e4e4e4;
}

.comment:last-child .content {
  border-bottom: none;
}

.modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 55%;
  background-color: white;
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
  padding: 15px;
  border-radius: 3px;
}

.modal textarea {
  padding: 0 10px;
}

.modal .edit-modal-header,
.modal .add-modal-header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 20px;
}

.modal .edit-modal-header,
.modal .add-modal-header,
.modal .modal-footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal .modal-footer-block {
  margin-top: 15px;
}

.attached-photo {
  position: relative;
  width: fit-content;
  margin-top: 15px;
}

.attached-photo img {
  width: auto;
}

.attached-photo .attached-photo-delete {
  background: rgba(0, 0, 0, 0.64);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.attached-photo:hover .attached-photo-delete {
  display: flex;
}
