body {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f9f9;
}

.header-button-block {
  display: flex;
  border-bottom: 1px solid #282c34;
  justify-content: center;
}

.header-button-block a {
  padding: 6px 8px;
  margin: 3px 0;
  cursor: pointer;
  color: #0E0E0E;
  text-decoration: none;
  border-left: 1px solid #e4e4e4;
}

.header-button-block a:hover {
  background: rgba(227, 227, 227, 0.83);
}

.header-button-block a:first-child {
  border-left: none;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
